<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Twitter - Sentiment Analysis</title>
    <link rel="stylesheet" href="static/bootstrap-4.3.1-dist/css/bootstrap.min.css" crossorigin="anonymous">
  </head>
  <body>
    <h1> Sentiment analysis on Twitter data </h1>
    <div ng-app='search' class="col-md-12">
		<div class="row" ng-controller='mainCtrl'>
			<div class="col-md-3">
				<div ng-include="'static/sidebar.html'"></div>
			</div>
			<div class="col-md-6">
				<form>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Enter Search query here" ng-model="queryterm">
					</div>
				  	<button type="submit" class="btn btn-primary" ng-click="searchQuery()">Go!</button>
				</form>
				<div>
					<div class="media" ng-repeat="tweet in tweets">
						<img ng-src="{{tweet['user.profile_image_url']}}" class="align-self-start mr-3" alt="..." height="50" width="50"/>
						<div class="media-body">
							<a ng-href="{{tweet['user.entities.url.urls.expanded_url']}}" target="_blank">
								<h5 class="mt-0">
									{{tweet.poi_name}}
								</h5>
							</a>
							<a ng-href="{{tweet.tweet_urls}}" target="_blank">
								{{tweet.text}}
							</a>							
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				check here- {{message}}
			</div>
		</div> 
    </div>
	<div>
        <script src="static/angular.min.js"></script>
        <script src="static/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
        <script src="static/app.js"></script>
        <script src="static/main-controller.js"></script>
    </div>
  </body>
</html>