<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Twitter - Sentiment Analysis</title>
    <link rel="stylesheet" href="static/bootstrap-4.3.1-dist/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="static/style.css">
  </head>
  <body ng-app='search' ng-controller='mainCtrl'>
    <h1> Sentiment analysis on Twitter data </h1>
    <div class="col-md-12">
		<div class="row">
			<div class="col-md-3">
				<div ng-include="'static/sidebar.html'"></div>
			</div>
			<div class="col-md-9" style="height: 90vh; overflow: auto;">
				<form>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Enter Search query here" ng-model="queryterm">
					</div>
				  	<button type="submit" class="btn btn-primary" ng-click="searchQuery()">Search Twitter</button>
					<button type="submit" class="btn btn-primary" ng-click="analyzeTweets()">Analyze Query</button>
				</form>
				<div>
					{% raw %}
					{{tweetsCount}} results fetched
					<div class="media" ng-repeat="tweet in tweets">
						<img ng-src="{{tweet['user.profile_image_url']}}" class="align-self-start mr-3" alt="..." height="50" width="50"/>
						<div class="media-body">
							<a style="text-decoration: none;" ng-href="{{tweet['user.entities.url.urls.expanded_url']}}" target="_blank">
								<h5 class="mt-0">
									{{tweet.poi_name[0]}}
								</h5>
							</a>
							<a ng-href="{{tweet.tweet_urls}}" target="_blank">
								{{tweet.tweet_text[0]}}
							</a>							
						</div>
					</div>
				</div>
			</div>
		</div> 
    </div>
	<div>
		<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Analysis of '{{queryterm}}'</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>
			  <div class="modal-body">
				  <div id="tweet-analysis" class="row"></div>
				  <div id="replies-analysis" class="row"></div>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			  </div>
			</div>
		  </div>
		</div>
	</div>
	{% endraw %}
	<div>
		<script src="static/jquery.min.js"></script>
        <script src="static/angular.min.js"></script>
        <script src="static/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="static/app.js"></script>
        <script src="static/main-controller.js"></script>
    </div>
  </body>
</html>