<div style="position: fixed;">
	<div class="col-md-12 sidebar">
		<form>
			<div style="height: 85vh; overflow: auto;">
				<div class="form-group">
					<div class="dropdown">
					  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						POI Name
					  </button> {{poi_name}}
					  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#" ng-repeat="poi in poiOptions" 
						   ng-click="updatePoi(poi)">
							{{poi.label}}
						</a>
					  </div>
					</div>
				</div>
				<div class="form-group">
					<label>From date</label>
					<input type="date" class="form-control" id="from-date"/>
				</div>
				<div class="form-group">
					<label>To date</label>
					<input type="date" class="form-control" id="to-date"/>
				</div>
                <div class="form-group">
					<div class="dropdown">
					  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Hashtags
					  </button> {{hashtag}}
					  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#" 
						   ng-click="updateHashtag(hashtag)" ng-repeat="hashtag in hashtagOptions">
							{{hashtag}}
						</a>
					  </div>
					</div>
				</div>
                <div class="form-group">
					<p>Tweets in Language</p>
                    <label>
						<input type="radio" value="en" name="twlang" ng-model="lang">
						English
					</label><br/>
                    <label>
						<input type="radio" value="hi" name="twlang" ng-model="lang">
						Hindi
					</label><br/>
                    <label>
						<input type="radio" value="pt" name="twlang" ng-model="lang">
						Portugese
					</label>
				</div>
			</div>
		</form>
	</div>
</div>
